<h1>Xial is here.</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="70" rows="3" placeholder="What's on your mind?"></textarea>
        <button type="submit">Post</button>
    </form>
</section>