<link rel="stylesheet" href="/css/home.css">
<section id="feed-posts">
    <% if(locals.user) { %>
        <h1 id="heading">Create a new post</h1>
        <div id="post-form-container">
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" id="postContent" cols="70" rows="3" onkeyup="EnableDisable(this)"
                    placeholder="What's on your mind, <%= user.name%>?" required></textarea>
                <button type="submit" id="post-button" disabled>Share</button>
            </form>
        </div>
        <% } %>
            <div id="post-list-container">
                <h2 id="feed">Newsfeed</h2>
                <ul>
                    <% for(post of posts) { %>
                        <%- include('_post') -%>
                    <% } %>
                </ul>
            </div>
</section>
<script src="/js/home.js"></script>