<link rel="stylesheet" href="/css/user_profile.css">
<h1>Xial: User Profile</h1>

<div class="card">
    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar" style="width:100%">
    <div class="container">
      <h4><b><%= profile_user.name %></b></h4> 
      <p><%= profile_user.email %></p> 
    </div>
  </div>