footer {
    display: flex;
    background-color: rgb(137, 143, 156);
    color: white;

    #quick-links {

        width: 80%;

        ul {
            display: flexbox;

            li {
                list-style: none;
                padding-bottom: 5px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    
}