body {
  color: white;

  div {
    margin: auto;
    margin-top: 10px;

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 200px;
      margin: auto;
      background-color: rgb(78, 77, 77);
      position: relative;
      margin-top: 10px;

      .container {
        padding: 2px 16px;
      }
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    #edit-button {
      width: fit-content;
      margin: auto;
      margin-top: 5px;

      button {
        background-color: rgb(78, 77, 77);
        color: white;
        border: none;
        width: 80px;
        height: 30px;
        background-color: #2374e1;
      }
    }

    #edit-form {
      width: fit-content;
      margin: auto;
      display: none;

      form {
        input,
        button {
          display: block;
          margin: 20px;
          border: none;
        }

        input {
          width: 200px;
          height: 30px;
          background-color: rgb(77, 77, 77);
          outline: none;
          color: white;
          padding-left: 5px;
        }

        input::placeholder {
          color: white;
          opacity: 0.8;
        }

        button {
          width: 75px;
          height: 30px;
          background-color: #2374e1;
          color: white;
        }

        button:hover {
          background-color: #3d91ff;
          cursor: pointer;
        }
      }
    }
  }
}
