footer {
  display: flex;
  background-color: #898f9c;
  color: white;
}

footer #quick-links {
  width: 80%;
}

footer #quick-links ul {
  display: flexbox;
}

footer #quick-links ul li {
  list-style: none;
  padding-bottom: 5px;
}

footer #quick-links ul li a {
  text-decoration: none;
  color: white;
}
