section #heading {
  width: 50%;
  margin: auto;
  color: #b1b3b9;
}

section #post-form-container {
  width: 50%;
  margin: auto;
  background-color: #303030;
  height: 80px;
  border-radius: 10px;
  margin-top: 10px;
}

section #post-form-container #new-post-form {
  margin: auto;
  padding-top: 12px;
  width: fit-content;
  display: flex;
  justify-content: space-around;
}

section #post-form-container #new-post-form #postContent {
  resize: none;
  border-radius: 4px;
  background-color: #4d4d4d;
  color: white;
  outline: none;
  border: none;
  width: 90%;
}

section #post-form-container #new-post-form #postContent:hover {
  background-color: #444444;
}

section #post-form-container #new-post-form #post-button {
  height: 40px;
  margin: 5px 0 0 5px;
  background-color: #2374e1;
  color: white;
  border: none;
  border-radius: 4px;
  width: 10%;
}

section #post-form-container #new-post-form #post-button:disabled {
  background-color: #898f9c;
  color: #b1b0b0;
}

section #post-form-container #new-post-form #post-button:disabled:hover {
  background-color: #898f9c;
  color: #b1b0b0;
  cursor: not-allowed;
}

section #post-form-container #new-post-form #post-button:hover {
  background-color: #3d91ff;
  cursor: pointer;
}

section #post-form-container #new-post-form #postContent::placeholder {
  color: white;
  opacity: 0.8;
}

section #post-list-container {
  margin: auto;
  width: 50%;
}

section #post-list-container #feed {
  color: #b1b3b9;
  margin: auto;
  margin-top: 15px;
}

section #post-list-container ul {
  width: 100%;
  padding: 0;
}

section #post-list-container ul li {
  list-style: none;
  background-color: #303030;
  border-radius: 10px;
  color: white;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
}

section #post-list-container ul li hr {
  border-color: #9e9e9e;
  background-color: #9e9e9e;
  color: #9e9e9e;
}

section #post-list-container ul li .post-comments .post-comments-list ul #comments-list {
  background-color: #3a3b3d;
  margin: 10px;
  margin-left: 0;
  height: 20px;
  width: 70%;
  border-radius: 50px;
  padding-left: 10px;
}

section #post-list-container ul li .post-comments .post-comments-list ul #comments-list p {
  display: inline;
}

section #post-list-container ul li .post-comments form #comment-input {
  border: none;
  height: 30px;
  width: 70%;
  border-radius: 50px;
  background-color: #4d4d4d;
  color: white;
  outline: none;
  padding-left: 10px;
}

section #post-list-container ul li .post-comments form #comment-input::placeholder {
  color: white;
  opacity: 0.8;
  padding-left: 2px;
}

section #post-list-container ul li .post-comments form #comment-input:hover {
  background-color: #444444;
}

section #post-list-container ul li .user {
  font-size: smaller;
  color: #b1b3b9;
}

section #post-list-container ul li .userComments {
  font-size: 0.8em;
  color: #b1b3b9;
}
